<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style=" width:100%;">
    <div id="nav_bar">
        <!-- navigation bar -->

        <main id="nav_res">
            <aside id="nav_res2">
                <a id="menu_bar" class="fa fa-bars"
                    onclick="document.getElementById('main_nav').style.display='block'"></a>
                <p>NETFLIX</p>
            </aside>
        </main>

        <main id="main_nav">

            <i id="close" class="fa fa-close" onclick="document.getElementById('main_nav').style.display='none'"></i>
            <a class="logo">NETFLIX</a>
            <a id="second" routerLinkActive='active' onclick="document.getElementById('main_nav').style.display='none'" [routerLink]="['/Home']">Home</a>
            <a id="second" *ngIf="!resultsess()" title="please login to see Favorites">Favorites</a>
            <a id="second" onclick="document.getElementById('main_nav').style.display='none'" *ngIf="resultsess()" routerLinkActive='active'
                [routerLink]="['/Favorites']">Favorites</a>
            <!-- comes up when max width is 600px -->
            <a id="log_det" onclick="document.getElementById('main_nav').style.display='none'" *ngIf="resultsess() || auth.isAuthenticated()" (click)='logout()' style="color:white;background:red;font-size:20px;border-radius:50px;padding:6px 25px;font-weight: bold;" routerLinkActive='active'>{{user}}</a>

            <a  id="second" onclick="document.getElementById('main_nav').style.display='none'" *ngIf="!resultsess()" routerLinkActive='active' [routerLink]="['/Login']">Login</a>


        </main>
        <!-- ===========main cont------------ -->

        <main class="topnav">
            <a class="tite">NETFLIX</a>

            <a class="active" style="font-size: 20px;" routerLinkActive='active' [routerLink]="['/Home']">Home</a>
            <a class="active" style="font-size: 20px;" *ngIf="!resultsess()" title="please login to see Favorites">Favorites</a>
            <a  class="active" *ngIf="resultsess()" routerLinkActive='active'
            [routerLink]="['/Favorites']">Favorites</a>
            <div class="search-container">
               
                <button  *ngIf="resultsess() || auth.isAuthenticated()"  style="color:white;background:red;font-size:20px;border-radius:50px;padding:6px 25px;font-weight: bold;" routerLinkActive='active'  (click)='logout()' type="submit">{{this.user}}</button>
                <button *ngIf="!resultsess()"  routerLinkActive='active' [routerLink]="['/Login']" type="submit">Login</button>
              
            </div>

        </main>

    </div>
    <div style="clear:both; ">
        <router-outlet> </router-outlet>

    </div>
</body>

</html>