*
{
    padding:0px;
    margin:0px;
}
.red {
  color:red;
}
#body_cont{
    clear:right;
    display:block;
    width:95%;
    margin:auto;
    font-family: monospace;
    color:white;
}

#cont_right a
{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
 #cont_right>input[type=text]
 {
  float: right;
  padding: 12px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 18px;
  font-family: monospace;
 }
#sub_body{
  clear:both;
    display:flex;
    background: linear-gradient( black, rgba(173, 8, 22, 0.452));
    box-shadow: 2px 4px 2px rgb(153, 136, 136);  
    /* flex-wrap: wrap; */
    box-sizing: border-box;
  }
#Info_main{
  box-shadow: 2px 4px 2px rgb(153, 136, 136);
  margin-top: 3%;
  padding-left: 3%;
  width:90%;
  flex-wrap: wrap;
}


/* media query codes for responsiveness */
@media screen and (max-width: 575px){
  #cont_right>input[type=text]{
    float:none;
    margin-left:25px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px){
  #nav_res{
    display:block;
  }
  #menu_bar{
    display: block;
  }
}
@media screen and (max-width: 600px)
{
  #sub_body{
   flex-wrap: wrap;
  }
  #info_main{
    width:30px;
    box-shadow:none ;
  }
}
  
  
  

   
  